# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FolderCrawler.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\woute\Documents\Programming\Experimenting\FolderCrawler\.idea\.idea.FolderCrawler.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
