# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DirectoryCrawler.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\woute\Documents\Programming\School\DirectoryCrawler\.idea\.idea.DirectoryCrawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
